{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static 'chatbot/favicon.svg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hub</title>
    <link rel="stylesheet" href="{% static 'chatbot/css/editbot.css' %}?v=1.2" >
    <link rel="stylesheet" href="/static/chatbot/css/hub.css" /> 
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body class="dark-mode">
    <div class="main-section2">
      <div class="container">
        {% include 'chatbot/navbar.html' %}
        
            
       
    </div>
   
    <div class="bot-keys-dropdown-container-abc123">
      <label for="unique-edit-bot-id" class="bot-keys-dropdown-label-xyz789">Name:</label>
      <select id="unique-edit-bot-id" class="bot-keys-dropdown-select-mno456">
          <!-- Dynamic options will be populated here -->
      </select>
  </div>
  
        
    <div class="Main-chat-box2">
      <div class="container">
        <div class="chat-prefix2">
          <div class="row">
            <div class="col-md-2">
             
              {% include 'chatbot/sidebar.html' %}

            </div>
            <div class="col-md-10">
              <div class="file-content">
                <h3>Instructions</h3>
                <p>These are specific instructions you would give your bot</p>
                <hr>
              </div>

              <div class="containers-starters">
                <div class="containers" data-prompt="open">
                    <img src="/static/chatbot/img-create-bot/prompt1.svg" alt="Prompt 1">
                    <p>Open Response</p>
                </div>
                <div class="containers" data-prompt="strict">
                    <img src="/static/chatbot/img-create-bot/prompt2.svg" alt="Prompt 2">
                    <p>Very Strict Response</p>
                </div>
                <div class="containers" data-prompt="creative">
                    <img src="/static/chatbot/img-create-bot/prompt3.svg" alt="Prompt 3">
                    <p>Creative Response</p>
                </div>
            </div>

            <div class="email Frequency">
              <div class="row">
                <div class="col-md-6">
                  <div class="email-content">
                    <h3>Email Frequency</h3>
                    <p>How often should the bot send emails?</p>
                    <hr>
                  </div>
                  <div class="email-content2">
                    <div class="email-content3">
                      <input type="radio" id="daily" name="email" value="daily">
                      <label for="daily">Daily</label>
                    </div>
                    <div class="email-content3">
                      <input type="radio" id="weekly" name="email" value="weekly">
                      <label for="weekly">Weekly</label>
                    </div>
                    <div class="email-content3">
                      <input type="radio" id="monthly" name="email" value="monthly">
                      <label for="monthly">Monthly</label>
                    </div>
                  </div>
                </div>
                
            </div>

          </div>
            
          </div>
          
            
          </div>
        </div>
      </div>
    </div>
    <div class="logo" style="display: flex; justify-content: center; align-items: center; width: 100%; margin-top: 20px;">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <div class="bg-logo">
          <img src="{% static 'chatbot/img-create-bot/logo.svg' %}" alt="logo">
        </div>
        <div class="logo-text">
          <h2>TechRealm</h2>
        </div>
      </div>
    </div>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="ft-content2">
              <p>AI has the potential to change the world. Help us democratize AI.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ft-content2">
              <h5>Newsletter</h5>
              <p>Get daily updates to your inbox. Subscribe to our newsletter today!</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ft-content2">
              <h5>Social Media</h5>
              <div class="social-logo">
                <img src="{% static 'chatbot/img-edit-bot/twitter.png' %}" alt="twitter" />
                <img src="{% static 'chatbot/img-edit-bot/insta.png' %}" alt="insta" />
                <img src="{% static 'chatbot/img-edit-bot/telegram.png' %}" alt="telegram" />
              </div>
            </div>
          </div>
        </div>
        <div class="footer-end2">
          <p>&copy; 2024 TechRealm. All rights reserved.</p>
        </div>
      </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    ></script>

  <script src = "/static/chatbot/script/hub.js"></script>
  <script src = "{% static 'chatbot/script/logout.js' %}"></script>

  </body>
</html>
