{% load static %}

<link rel="stylesheet" href="{% static 'chatbot/css/editbot.css' %}?v=1.0" />
<div class="main-section2">
    <div class="container">
        <div class="nav-bar2">
            <div class="logo1">
                <img src="{% static 'chatbot/img-create-bot/logo.svg' %}" alt="logo">
                <h2 id="tech_realm">TechRealm</h2>
            </div>
            <div class="right-section">
                <button id="togle">Docs guide</button>
                <img class="logout" src="{% static 'chatbot/img/logout.svg' %}" onclick="logout()" alt="logout">
            </div>
        </div>
    </div>
</div>
