.containers-starters {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 containers per row */
    gap: 20px; /* Space between containers */
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.containers {
    background: rgb(35, 35, 35);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Increased shadow for a futuristic look */
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
}

.containers:hover {
    transform: scale(1.05);
}

.containers img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.containers p {
    font-size: 18px;
    color: #ffffff; /* Dark grey text color */
}